:root {
    --font-family: 'Poppins', sans-serif;
    --font-family-secondary: 'Public Sans', sans-serif;
    --Primary-color-black-green: #143c3c;
    --Secondary-color-light-green: #e2eddf;
    --Primary-text-color-black: #152427;
    --text-color-black-gray: #575d5e;
    --bg-color-secondary: #2e80ce;
    --bg-color-tertiary: #eaf6ff;
    --bg-color-quaternary: #f6fbff;
    --white: #fff;
    --text-color-secondary: #a9b3bb;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--Primary-text-color-black);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
    padding: 0;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100vw - 64px);
    margin: 0 auto;
}

.center-y {
    display: flex;
    align-items: center;
}

.section-spacing {
    margin-top: 30px;
    padding: 70px 0;
}

.mt-100 {
    margin-top: 100px;
}

.col-start-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-row {
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 570px;
}

.right-column {
    width: 470px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--line-clamp, 1);
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 173px;
    border-radius: 40px;
    background: var(--Primary-color-black-green);
    padding: 14.6px 16px;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    user-select: none;
}

.btn:hover,
.subscription__submit:hover {
    opacity: 0.9;
}

.btn--small {
    min-width: 104px;
    padding: 6.3px 16px;
    border-radius: 22px;
    line-height: 1.75;
}

.heading {
    color: var(--Primary-text-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2;
}

.heading--large {
    font-size: 5rem;
    font-weight: 800;
}

.heading--smaller {
    font-size: 1.8rem;
    line-height: 1.67;
}

.heading--lv3 {
    font-size: 2.6rem;
    line-height: 1.38;
}

.heading--lv4 {
    font-size: 1.8rem;
}

.heading--lv5 {
    font-size: 1.6rem;
    line-height: 1.62;
}

.desc {
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.desc--light {
    color: #c9d2da;
}

.desc--lv2 {
    font-size: 1.6rem;
    line-height: 1.75;
}

.desc--lv3 {
    font-size: 1.4rem;
    line-height: 1.86;
}

.heading--light,
.desc--light {
    color: var(--white);
}

.image {
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.controls {
    display: flex;
    gap: 0 18px;
}

.control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--text-color);
    border: 1px solid currentColor;
    background: var(--white);
    cursor: pointer;
}

.control-btn:hover {
    color: var(--white);
    border-color: var(--bg-color-secondary);
    background: var(--bg-color-secondary);
}

/* Header */
.header {
    background: var(--white);
}

.header.sticky {
    position: sticky;
    top: -15px;
    z-index: 2;
}

.header__inner {
    position: relative;
    padding: 28px 0 13px;
}

.header__inner::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
}

/* header__logo */
.header__logo {
    line-height: 0;
}

/* Header__nav */
.header__nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    position: relative;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    padding: 8px 19px;
}

.nav__link:hover,
.nav__link--active {
    color: var(--Primary-text-color-black);
}

.nav__link--active::before {
    content: '';
    position: absolute;
    left: 19px;
    bottom: -21px;
    width: 16px;
    height: 2px;
    background: var(--Primary-color-black-green);
    z-index: 1;
}

.header__btn {
    margin-left: 69px;
}

/* Header__cta-group */
.header__cta-group {
    margin-left: 222px;
}

.cta-group__sign-in-btn {
    margin-right: 7px;
}

.cta-group__sign-in-btn:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    background: var(--primary);
    padding: 60px 0 88px;
}

/* Hero__content */
.hero__content {
    font-family: var(--font-family-secondary);
}

.hero__heading {
    width: 368px;
}

.hero__desc {
    width: 341px;
    margin: 20px 0 42px;
}

.hero__cta-block {
    column-gap: 36px;
}

/* Hero watch video btn */
.watch-video-btn__outer {
    column-gap: 8.5px;
}

.watch-video-btn {
    --light-green: #83a17d;
    --width: 5.7em;
    --height: 5.9em;

    font-size: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    border-radius: 50%;
    background: var(--Primary-color-black-green);
    transition: 0.3s;
    cursor: pointer;
}

.watch-video-btn::before {
    position: absolute;
    content: '';
    width: calc(var(--width) - 0.8em);
    height: calc(var(--height) - 0.8em);
    border-radius: 50%;
    background: var(--white);
}

.watch-video-btn::after {
    position: absolute;
    top: -0.1em;
    left: 50%;
    content: '';
    width: calc(var(--width) / 2);
    height: calc(var(--height) + 0.2em);
    background: var(--white);
    border-top-right-radius: 100em;
    border-bottom-right-radius: 100em;
}

.watch-video-btn__outer:hover .watch-video-btn {
    rotate: 180deg;
    background: var(--light-green);
}

.watch-video-btn__outer:hover .watch-video-btn__inner {
    rotate: 180deg;
    background: var(--Primary-color-black-green);
}

.watch-video-btn__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.4em;
    height: 4.3em;
    border-radius: 50%;
    background: var(--light-green);
    z-index: 1;
    transition: 0.25s;
}

.watch-video-btn__label {
    margin: -20px 0;
}

/* Hero__img-block */
.hero__media {
    position: relative;
    margin-right: 28px;
    margin-left: auto;
}

.hero__img-block {
    display: grid;
    grid-template-columns: repeat(3, 202px);
    grid-template-rows: 77px 312px 77px;
    column-gap: 20px;
}

.img-block__image {
    border-radius: 110px;
}

.img-block__img-1 {
    grid-area: 1 / 1 / 3 / 2;
    background-image: url('../img/hero-1.png');
}

.img-block__img-2 {
    grid-area: 2 / 2 / -1 / -2;
    background-image: url('../img/hero-2.png');
}

.img-block__img-3 {
    grid-area: 1 / -2 / 3 / -1;
    background-image: url('../img/hero-3.png');
}

/* hero background */
.hero__bg {
    position: absolute;
}

.bg__circle-center {
    top: 122px;
    left: 156px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.bg__winding-line--top {
    top: -32.07px;
    left: -168px;
}

.bg__asterisk--top {
    left: -208.58px;
    bottom: 407.61px;
    transform: rotate(9.392deg);
}

.bg__winding-line--bottom {
    bottom: -73.69px;
    right: 50.64px;
    transform: rotate(175.95deg);
}

.bg__asterisk--bottom {
    bottom: -38px;
    right: 8.12px;
    transform: rotate(-174.659deg);
}

/* Clients */
.clients {
    margin-top: 42px;
}

.clients-list {
    justify-content: space-between;
    padding: 65px 110px;
    border-radius: 100.5px;
    background: var(--Secondary-color-light-green);
}

.client-link {
    display: flex;
    padding: 12px;
}

.client-img {
    line-height: 0;
}

/* Custom client link */
.client-link--google {
    padding-top: 20px;
}

.client-link--slack {
    padding-left: 0;
}

.client-link--agworld {
    display: flex;
    align-items: flex-end;
    column-gap: 11px;
}

.client-link--heroku {
    padding-left: 7px;
}
