:root {
    --font-family: 'Poppins', sans-serif;
    --font-family-secondary: 'Public Sans', sans-serif;
    --Primary-color-black-green: #143c3c;
    --Secondary-color-light-green: #e2eddf;
    --Tertiary-color-light-green: #83a17d;
    --Primary-text-color-black: #152427;
    --text-color-black-gray: #575d5e;
    --white: #fff;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-color-black-gray);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
    padding: 0;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100vw - 64px);
    margin: 0 auto;
}

.center-y {
    display: flex;
    align-items: center;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.padding-y-70 {
    padding: 70px 0;
}

.mt-100 {
    margin-top: 100px;
}

.col-start-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-row {
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 570px;
}

.right-column {
    width: 470px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--line-clamp, 1);
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.line-clamp.line-5 {
    --line-clamp: 5;
}

.absolute {
    position: absolute;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 173px;
    border-radius: 40px;
    background: var(--Primary-color-black-green);
    padding: 14.6px 16px;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    user-select: none;
}

.btn:hover,
.subscription__submit:hover {
    opacity: 0.9;
}

.btn--small {
    min-width: 104px;
    padding: 6.3px 16px;
    border-radius: 22px;
    line-height: 1.75;
}

.heading {
    color: var(--Primary-text-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2;
}

.heading--large {
    font-size: 5rem;
    font-weight: 800;
}

.heading--small {
    font-size: 2.2rem;
}

.heading--smaller {
    font-size: 1.8rem;
    line-height: 1.67;
}

.heading--light {
    color: #e7f9f9;
}

.heading--has-tail::after {
    position: relative;
    left: 10px;
    bottom: 8px;
    content: '';
    display: inline-block;
    width: 66px;
    height: 2px;
    background: currentColor;
}

.label {
    position: relative;
    padding-left: 46px;
    font-weight: 500;
    line-height: 1.125;
}

.label::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-text-color-black);
}

.desc {
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.desc--small {
    font-size: 1.6rem;
    line-height: 1.62;
}

.desc--smaller {
    font-size: 1.4rem;
    line-height: 1.71;
}

.desc--light {
    font-family: var(--font-family-secondary);
    color: #6a8383;
}

.desc--link {
    font-family: var(--font-family-secondary);
    color: var(--white);
}

.image {
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.controls {
    display: flex;
    gap: 0 17px;
}

.control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: var(--Primary-text-color-black);
    background: var(--Secondary-color-light-green);
    cursor: pointer;
}

.control-btn:hover {
    color: var(--white);
    background: var(--Primary-color-black-green);
}

/* ------------- Header ------------- */
.header {
    background: var(--white);
}

.header.sticky {
    position: sticky;
    top: -15px;
    z-index: 2;
}

.header__inner {
    position: relative;
    padding: 28px 0 13px;
}

.header__inner::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
}

/* header__logo */
.header__logo {
    line-height: 0;
}

/* Header__nav */
.header__nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    position: relative;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    padding: 8px 19px;
}

.nav__link:hover,
.nav__link--active {
    color: var(--Primary-text-color-black);
}

.nav__link--active::before {
    content: '';
    position: absolute;
    left: 19px;
    bottom: -21px;
    width: 16px;
    height: 2px;
    background: var(--Primary-color-black-green);
    z-index: 1;
}

.header__btn {
    margin-left: 69px;
}

/* Header__cta-group */
.header__cta-group {
    margin-left: 222px;
}

.cta-group__sign-in-btn {
    margin-right: 7px;
}

.cta-group__sign-in-btn:hover {
    text-decoration: underline;
}

/* ------------- Hero ------------- */
.hero {
    background: var(--primary);
    padding: 60px 0 88px;
}

/* Hero__content */
.hero__content {
    font-family: var(--font-family-secondary);
}

.hero__heading {
    width: 368px;
}

.hero__desc {
    width: 341px;
    margin: 20px 0 42px;
}

.hero__cta-block {
    column-gap: 36px;
}

/* Hero watch video btn */
.hero__play-btn {
    column-gap: 8.5px;
}

.hero__play-btn--half--circle {
    --width: 5.7em;
    --height: 5.9em;

    font-size: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    border: 4px solid;
    color: var(--Primary-color-black-green);
    border-color: currentColor transparent transparent currentColor;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    rotate: -45deg;
}

.hero__play-btn:hover .hero__play-btn--half--circle {
    rotate: 135deg;
    color: var(--Tertiary-color-light-green);
}

.hero__play-btn:hover .hero__play-btn--circle {
    rotate: -135deg;
    background: var(--Primary-color-black-green);
}

.hero__play-btn--circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.4em;
    height: 4.3em;
    border-radius: 50%;
    background: var(--Tertiary-color-light-green);
    rotate: 45deg;
}

/* Hero__img-block */
.hero__media {
    position: relative;
    padding: 0 28px;
}

.hero__img-block {
    display: grid;
    grid-template-columns: repeat(3, 202px);
    grid-template-rows: 77px 312px 77px;
    column-gap: 20px;
}

.img-block__image {
    border-radius: 110px;
}

.img-block__img-1 {
    grid-area: 1 / 1 / 3 / 2;
    background-image: url('../img/hero-1.png');
}

.img-block__img-2 {
    grid-area: 2 / 2 / -1 / -2;
    background-image: url('../img/hero-2.png');
}

.img-block__img-3 {
    grid-area: 1 / -2 / 3 / -1;
    background-image: url('../img/hero-3.png');
}

/* hero double flowers and circle background */
.hero-bg__circle-center {
    top: 122px;
    left: 156px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero-bg__winding-line--top {
    top: -32.07px;
    left: -168px;
}

.hero-bg__asterisk--top {
    left: -208.58px;
    bottom: 407.61px;
    transform: rotate(9.392deg);
}

.hero-bg__winding-line--bottom {
    bottom: -73.69px;
    right: 50.64px;
    transform: rotate(175.95deg);
}

.hero-bg__asterisk--bottom {
    bottom: -38px;
    right: 8.12px;
    transform: rotate(-174.659deg);
}

/* ------------- Clients ------------- */
.clients {
    margin-top: 42px;
}

.clients-list {
    padding: 65px 110px;
    border-radius: 100.5px;
    background: var(--Secondary-color-light-green);
}

.client-link {
    display: flex;
    padding: 12px;
}

.client-img {
    line-height: 0;
}

/* Custom client link */
.client-link--google {
    padding-top: 20px;
}

.client-link--slack {
    padding-left: 0;
}

.client-link--agworld {
    display: flex;
    align-items: flex-end;
    column-gap: 11px;
}

.client-link--heroku {
    padding-left: 7px;
}

/* ------------- Services ------------- */
.services {
    margin-top: 36px;
}

/* Services header */
.services__header {
    margin: 12px 0 76px;
}

.services__heading {
    width: 520px;
}

.services__controls {
    margin-right: 73px;
}

/* Service item */
.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-img {
    position: relative;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    background-size: auto 100%;
    transition: background-size 0.3s ease;
}

.service-item:hover .service-img {
    background-size: auto 125%;
}

.service-img__img1 {
    background-image: url('../img/service-1.png');
}

.service-img__img2 {
    background-image: url('../img/service-2.png');
}

.service-img__img3 {
    background-image: url('../img/service-3.png');
}

.service-info {
    height: 245px;
    margin-top: -86px;
    padding: 110px 0 23px;
    background: var(--white);
    transition: 0.25s;
}

.service-info__desc {
    width: 268px;
    margin-top: 18px;
}

.service-item:hover .service-info {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    padding: 110px 18px 23px;
}

/* ------------- About-us ------------- */
.about-us {
    margin-top: 57px;
    padding: 30px 0;
}

.about-us__body {
    display: flex;
    justify-content: space-between;
}

/* About us media */
.about-us__media {
    position: relative;
}

.about-us__img-block {
    display: flex;
}

.about-us__img {
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-us__img-1 {
    margin: 90px 21px 0 0;
    width: 284px;
    background-image: url('../img/about-us-1.png');
}

.about-us__img-2 {
    margin-top: 13px;
    width: 286px;
    background-image: url('../img/about-us-2.png');
}

/* About us content */
.about-us__content {
    width: 485px;
}

.about-us__heading {
    margin: 20px 0 11px;
}

/* About us stat */
.about-us__stat {
    margin-top: 18px;
    display: flex;
    column-gap: 24px;
    padding: 20px 0;
    border-bottom: 1px solid var(--Tertiary-color-light-green);
}

/* About us designers card */
.about-us__designers-card {
    position: absolute;
    right: -9px;
    bottom: 8px;
    --light-gray: #eaeaea;
    width: 143px;
    height: 144px;
    padding: 16px 17px 11px;
    font-family: var(--font-family-secondary);
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    font-size: 1rem;
    line-height: 1.4;
}

/* Designers card header */
.designers-card__header {
    padding: 3px 6px;
}

.designers-card__title {
    font-size: 1.4rem;
    line-height: 1;
}

.designers-card__title--sub {
    margin: 6px 0 10px;
    color: var(--text-color-black-gray);
    opacity: 0.4;
}

.designers-card__desc {
    color: var(--Primary-text-color-black);
    font-weight: 500;
}

.designers-card__desc--right-align {
    display: flex;
    justify-content: flex-end;
}

.designers-card__process-bar {
    margin: 3px 0;
    position: relative;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: var(--light-gray);
}

.designers-card__process-bar::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: '';
    width: 40px;
    height: 100%;
    border-radius: 10px;
    background: var(--Tertiary-color-light-green);
}
/* ---------------- */
.designers-card__circle-icon {
    position: relative;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--light-gray);
    margin: 0 0 4px 2px;
}

.designers-card__circle-icon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--Primary-color-black-green);
}

/* Designers card footer */
.designers-card__avatar-block {
    display: flex;
}

.designers-card__avatar + .designers-card__avatar {
    margin-left: -6px;
}

.designers-card__avatar {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid var(--white);
}

.designers-card__avatar-1 {
    background-image: url('../img/designer-card-1.png');
}

.designers-card__avatar-2 {
    background-image: url('../img/designer-card-2.png');
}

.designers-card__avatar-3 {
    background-image: url('../img/designer-card-3.png');
}

.designers-card__avatar-4 {
    background-image: url('../img/designer-card-4.png');
}

/* About us flower background */
.about-us-bg__winding-line {
    top: 21.11px;
    left: 51.23px;
    transform: rotate(12.645deg);
}

.about-us-bg__asterisk {
    top: -31px;
    left: 46px;
    transform: rotate(176.985deg);
}

/* ------------- Process ------------- */
.process {
    margin-top: 19px;
    padding: 30px 0;
}

.process__label {
    margin-top: 36px;
}

.process__heading {
    margin: 20px 0 81px;
    width: 477px;
}

/* Process list */
.process-step {
    padding: 40px 20px;
    border-bottom: 2px solid var(--Secondary-color-light-green);
    transition: 0.3s;
}

.process-step:hover {
    border-radius: 33px;
    background: var(--Secondary-color-light-green);
}

.process-step:hover .process__desc--learn-more {
    display: inline-block;
}

.process-step:hover .process__desc {
    opacity: 0;
}

.process-step:hover .process-step__img {
    visibility: visible;
}

.process-step__num {
    flex: 4;
    color: var(--Primary-color-black-green);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
}

/* Process step center */
.process-step__center {
    flex: 9;
}

.process__desc--learn-more {
    display: none;
    margin-top: 22px;
    position: relative;
    font-weight: 400;
    line-height: 1;
}

.process__desc--learn-more::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: var(--Primary-text-color-black);
}

/* Process step right */
.process-step__right {
    position: relative;
    flex: 15;
}
.process__desc {
    font-family: var(--font-family-secondary);
    color: #7d8188;
    width: 572px;
}

.process-step__img {
    visibility: hidden;
    position: absolute;
    bottom: -40px;
    right: 71px;
    width: 450px;
    height: 444px;
    background-color: transparent;
    background-image: url('../img/process.png');
    background-position: -289.145px -71.727px;
    background-size: 184.868% 125.182%;
    transition: visibility 0hidden3s;
}

.process-step__img::after {
    position: absolute;
    bottom: 49px;
    left: 58px;
    content: '';
    display: inline-block;
    width: 163px;
    height: 24px;
    background: var(--Secondary-color-light-green);
    filter: blur(2px);
}

/* ------------- Project ------------- */
.project {
    margin-top: 118px;
    padding: 116px 0 63px;
    background: var(--Primary-color-black-green);
}

/* Project header */
.project__heading {
    width: 40%;
}

.project-header__right {
    width: 590px;
}

.project-header__right-bottom {
    display: inline-flex;
    align-items: center;
    margin-top: 13px;
    column-gap: 26px;
}

.project-header__right-bottom:hover .project__desc {
    text-decoration: underline;
}

/* Project video */
.project-video__wrapper {
    position: relative;
    margin-top: 65px;
    width: 100%;
    height: 544px;
    border-radius: 22px;
}

.project-video {
    border-radius: 22px;
}

.project-video:hover + .project__play-btn {
    visibility: hidden;
}

.project-video__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background-image: url('../img/project.jpg');
}

/* Project play btn */
.project__play-btn,
.project__play-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.project__play-btn {
    cursor: pointer;
}

.project__play-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
}

.project__play-btn::after {
    position: absolute;
    top: -64%;
    left: -23%;
    z-index: 1;
    content: '';
    width: 36px;
    height: 36px;
    background: url('../icons/project-play.svg') no-repeat;
}

.project__play-btn:checked ~ .project-video__thumb {
    display: none;
}

/* Project flower background */
.project-body {
    position: relative;
}

.project-bg__winding-line {
    top: -161px;
    right: -31px;
    transform: rotate(357.985deg);
}

.project-bg__asterisk {
    top: -79px;
    right: -37.72px;
    transform: rotate(176.985deg);
}

/* ------------- Features ------------- */
.features {
    margin-top: 70px;
}

.features__heading {
    width: 520px;
    margin: 0 auto;
    text-align: center;
}

.features__desc {
    width: 547px;
    margin: 20px auto 103px;
    text-align: center;
}

/* Feature item */
.features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 52.1px 30px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.3s;
}

.feature-item:hover {
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    border: none;
    transform: translateY(-59px);
}

.feature-item__heading {
    margin: 24px 9px;
    font-size: 2rem;
    line-height: 1;
}

.feature-item__desc {
    width: 286px;
    text-align: center;
}
